.index_swiper{
    swiper{
        width: 750rpx;
        height:340rpx;
        image{
            width: 100%;
        }
    }
}

.index_nav{
    width: 750rpx;
    display: flex;
    navigator{
        flex:1;
        padding: 20px;
        image{
            width: 100%;
        }
    }
}